[workspace]
members = [
    "contracts/account-nft",
    "contracts/credit-manager",
    "contracts/swapper/*",
    "contracts/oracle-adapter",
    "packages/chains/*",
    "packages/health",
    "packages/outpost",
    "packages/rover",
    "packages/controllers",

    # Mock contracts
    "contracts/mock-oracle",
    "contracts/mock-red-bank",
    "contracts/mock-vault",
    "contracts/mock-zapper",
    "contracts/mock-credit-manager",
]

[workspace.package]
version       = "1.0.0"
authors       = [
    "grod220 <gabe.r@delphilabs.io>",
    "larry_0x <larry@delphidigital.io>",
    "Piotr Babel <piotr@delphilabs.io>",
]
edition       = "2021"
repository    = "https://github.com/mars-protocol/rover"
homepage      = "https://marsprotocol.io"
documentation = "https://docs.marsprotocol.io/"
keywords      = ["mars", "cosmos", "cosmwasm"]

[workspace.dependencies]
anyhow          = "1.0.66"
cosmwasm-schema = "1.1.9"
cosmwasm-std    = "1.1.9"
cw2             = "1.0.0"
cw721           = "0.16.0"
cw721-base      = { version = "0.16.0", features = ["library"] }
cw-item-set     = { version = "0.7.0", default-features = false, features = ["iterator"] }
cw-multi-test   = "0.16.1"
cw-utils        = "0.16.0"
cw-storage-plus = "1.0.1"
itertools       = "0.10.5"
osmosis-std     = "0.13.2"
osmosis-testing = "0.13.2"
schemars        = "0.8.11"
serde           = { version = "1.0.150", default-features = false, features = ["derive"] }
thiserror       = "1.0.37"

# packages
cosmwasm-vault-standard   = { version = "0.1.0", features = ["lockup", "force-unlock"] }
cw-controllers-admin-fork = { version = "1.0.0", path = "./packages/controllers" }
mars-health               = { version = "1.0.0", path = "./packages/health" }
mars-osmosis              = { version = "1.0.0", path = "./packages/chains/osmosis" }
mars-outpost              = { version = "1.0.0", path = "./packages/outpost" }
mars-rover                = { version = "1.0.0", path = "./packages/rover" }

# contracts
mars-account-nft    = { version = "1.0.0", path = "./contracts/account-nft", features = ["library"] }
mars-oracle-adapter = { version = "1.0.0", path = "contracts/oracle-adapter", features = ["library"] }
mars-swapper-base   = { version = "1.0.0", path = "./contracts/swapper/base" }

# mocks
mars-mock-credit-manager  = { version = "1.0.0", path = "./contracts/mock-credit-manager", features = ["library"] }
mars-mock-oracle          = { version = "1.0.0", path = "./contracts/mock-oracle", features = ["library"] }
mars-mock-red-bank        = { version = "1.0.0", path = "./contracts/mock-red-bank", features = ["library"] }
mars-mock-vault           = { version = "1.0.0", path = "./contracts/mock-vault", features = ["library"] }
mars-mock-zapper          = { version = "1.0.0", path = "./contracts/mock-zapper", features = ["library"] }
mars-swapper-mock         = { version = "1.0.0", path = "./contracts/swapper/mock", features = ["library"] }

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true
