[workspace]
members = [
  "contracts/address-provider",
  "contracts/incentives",
  "contracts/oracle/*",
  "contracts/red-bank",
  "contracts/rewards-collector/*",
  "packages/chains/*",
  "packages/health",
  "packages/types",
  "packages/testing",
  "packages/utils",
  "integration-tests",
]

[workspace.package]
version       = "1.0.0"
authors       = [
  "Larry Engineer <larry@delphidigital.io>",
  "Piotr Babel <piotr@delphilabs.io>",
  "Spike Spiegel <spikeonmars@protonmail.com>",
  "Ahmad Kaouk",
  "Harry Scholes",
]
edition       = "2021"
license       = "GPL-3.0-or-later"
repository    = "https://github.com/mars-protocol/red-bank"
homepage      = "https://marsprotocol.io"
documentation = "https://docs.marsprotocol.io/"
keywords      = ["mars", "cosmos", "cosmwasm"]

[workspace.dependencies]
anyhow          = "1.0.68"
bech32          = "0.9.1"
cosmwasm-schema = "1.1.9"
cosmwasm-std    = "1.1.9"
cw2             = "1.0.1"
cw-multi-test   = "0.16.1"
cw-storage-plus = "1.0.1"
cw-utils        = "1.0.1"
mars-owner      = "1.0.0"
# FIXME: use crates.io deps when ready
osmosis-std     = { git = "https://github.com/osmosis-labs/osmosis-rust", rev = "5f2493aa13569167431add6282916683b4aaf3c8" }
osmosis-testing = { git = "https://github.com/osmosis-labs/osmosis-rust", rev = "5f2493aa13569167431add6282916683b4aaf3c8" }
prost           = { version = "0.11.5", default-features = false, features = ["prost-derive"] }
schemars        = "0.8.11"
serde           = { version = "1.0.152", default-features = false, features = ["derive"] }
thiserror       = "1.0.38"

# packages
mars-health  = { version = "1.0.0", path = "./packages/health" }
mars-osmosis = { version = "1.0.0", path = "./packages/chains/osmosis" }
mars-testing = { version = "1.0.0", path = "./packages/testing" }
mars-types   = { version = "1.0.0", path = "packages/types" }
mars-utils   = { version = "1.0.0", path = "packages/utils" }

# contracts
mars-address-provider          = { version = "1.0.0", path = "./contracts/address-provider" }
mars-incentives                = { version = "1.0.0", path = "./contracts/incentives" }
mars-oracle-base               = { version = "1.0.0", path = "./contracts/oracle/base" }
mars-oracle-osmosis            = { version = "1.0.0", path = "./contracts/oracle/osmosis" }
mars-red-bank                  = { version = "1.0.0", path = "./contracts/red-bank" }
mars-rewards-collector-base    = { version = "1.0.0", path = "./contracts/rewards-collector/base" }
mars-rewards-collector-osmosis = { version = "1.0.0", path = "./contracts/rewards-collector/osmosis" }

[profile.release]
codegen-units    = 1
debug            = false
debug-assertions = false
incremental      = false
lto              = true
overflow-checks  = true
opt-level        = 3
panic            = "abort"
rpath            = false
