[workspace]
members = [
  "contracts/address-provider",
  "contracts/incentives",
  "contracts/oracle/*",
  "contracts/params",
  "contracts/swapper/*",
  "contracts/red-bank",
  "contracts/rewards-collector/*",
  "packages/chains/*",
  "packages/health",
  "packages/liquidation",
  "packages/testing",
  "packages/types",
  "packages/utils",
  "integration-tests",
]
resolver = "2"

[workspace.package]
version       = "1.1.0"
authors       = [
  "Gabe R. <gabe.r@delphilabs.io>",
  "Larry Engineer <larry@delphidigital.io>",
  "Piotr Babel <piotr@delphilabs.io>",
  "Spike Spiegel <spikeonmars@protonmail.com>",
  "Brianna M. <brianna@delphilabs.io>",
  "Ahmad Kaouk",
  "Harry Scholes",
]
edition = "2021"
license = "GPL-3.0-or-later"
repository = "https://github.com/mars-protocol/red-bank"
homepage = "https://marsprotocol.io"
documentation = "https://docs.marsprotocol.io/"
keywords = [
  "mars",
  "cosmos",
  "cosmwasm",
]

[workspace.dependencies]
anyhow            = "1.0.71"
bech32            = "0.9.1"
cosmwasm-schema   = "1.2.6"
cosmwasm-std      = "1.2.6"
cw2               = "1.1.0"
cw-storage-plus   = "1.0.1"
cw-utils          = "1.0.1"
mars-owner        = { version = "1.2.0", features = ["emergency-owner"] }
osmosis-std       = "0.16.0"
prost             = { version = "0.11.5", default-features = false, features = ["prost-derive"] }
schemars          = "0.8.12"
serde             = { version = "1.0.163", default-features = false, features = ["derive"] }
thiserror         = "1.0.40"
pyth-sdk-cw        = "1.2.0"
cw-paginate       = "0.2.1"
astroport         = "2.8.0"
strum             = "0.24.1"
neutron-sdk       = "0.6.0"

# dev-dependencies
cw-multi-test     = "0.16.5"
cw-it             = { git = "https://github.com/apollodao/cw-it.git", rev = "af23474183cc56746a0b9785328a0009427caa9a" }
osmosis-test-tube = "16.0.0"
test-case         = "3.0.0"
proptest          = "1.1.0"

# packages
mars-health         = { version = "1.0.0", path = "./packages/health" }
mars-liquidation    = { version = "1.0.0", path = "./packages/liquidation" }
mars-osmosis        = { version = "1.0.0", path = "./packages/chains/osmosis" }
mars-params         = { version = "1.0.7", path = "./contracts/params" }
mars-red-bank-types = { version = "1.0.0", path = "./packages/types" }
mars-testing        = { version = "1.0.0", path = "./packages/testing" }
mars-utils          = { version = "1.0.0", path = "./packages/utils" }

# contracts
mars-address-provider          = { version = "1.0.0", path = "./contracts/address-provider" }
mars-incentives                = { version = "1.0.0", path = "./contracts/incentives" }
mars-oracle-base               = { version = "1.0.0", path = "./contracts/oracle/base" }
mars-oracle-osmosis            = { version = "1.0.0", path = "./contracts/oracle/osmosis" }
mars-oracle-wasm               = { version = "1.0.0", path = "./contracts/oracle/wasm" }
mars-red-bank                  = { version = "1.0.0", path = "./contracts/red-bank" }
mars-rewards-collector-base    = { version = "1.0.0", path = "./contracts/rewards-collector/base" }
mars-rewards-collector-osmosis = { version = "1.0.0", path = "./contracts/rewards-collector/osmosis" }
mars-swapper-base              = { version = "1.0.0", path = "./contracts/swapper/base" }
mars-swapper-astroport         = { version = "1.0.0", path = "./contracts/swapper/astroport" }
mars-swapper-osmosis           = { version = "1.0.0", path = "./contracts/swapper/osmosis" }

[profile.release]
codegen-units    = 1
debug            = false
debug-assertions = false
incremental      = false
lto              = true
overflow-checks  = true
opt-level        = 3
panic            = "abort"
rpath            = false
