[package]
name = "mars-testing"
version = "0.1.0"
authors = [
  "larry_0x <larry@delphidigital.io>",
  "Piotr Babel <piotr@delphilabs.io>",
  "Spike Spiegel <spikeonmars@protonmail.com>",
  "Ahmad Kaouk",
  "Harry Scholes"
]
edition = "2021"
description = "Utilities for testing Mars outpost contracts"
license = "GPL-3.0"
repository = "https://github.com/mars-protocol/outposts"
homepage = "https://marsprotocol.io"
documentation = "https://docs.marsprotocol.io/mars-protocol/developers/protocol-overview"
readme = "README.md"
keywords = ["mars", "cosmwasm"]

[lib]
doctest = false

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
mars-outpost = { path = "../outpost" }

cosmwasm-std = "1.0"
cw20 = "0.14"
cw20-base = { version = "0.14", features = ["library"] }
schemars = "0.8"
serde = { version = "1.0.144", default-features = false, features = ["derive"] }
thiserror = "1.0.33"

# FIXME: update with new tag when available, two types of deps used for osmosis, will be simplified when all feature including TWAP is in osmosis-rust
osmo-bindings = { git = "https://github.com/osmosis-labs/bindings" }
osmosis-std = "0.1.6"
prost = {version = "0.10.4", default-features = false, features = ["prost-derive"]}
prost-types = {version = "0.10.1", default-features = false}
