[package]
name          = "mars-testing"
description   = "Utilities for testing Mars red-bank contracts"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
license       = { workspace = true }
repository    = { workspace = true }
homepage      = { workspace = true }
documentation = { workspace = true }
keywords      = { workspace = true }

[lib]
doctest = false

[features]
astroport         = ["cw-it/astroport", "dep:astroport"]
backtraces        = ["cosmwasm-std/backtraces", "osmosis-std/backtraces"]
default           = []
osmosis-test-tube = ["cw-it/osmosis-test-tube"]

[dependencies]
anyhow                         = { workspace = true }
astroport                      = { workspace = true, optional = true }
cosmwasm-std                   = { workspace = true }
cosmwasm-schema                = { workspace = true }
cw-paginate                    = { workspace = true }
ica-oracle                     = { workspace = true }
osmosis-std                    = { workspace = true }
mars-address-provider          = { workspace = true }
mars-incentives                = { workspace = true }
mars-interest-rate             = { workspace = true }
mars-mock-pyth                 = { workspace = true }
mars-oracle-osmosis            = { workspace = true }
mars-oracle-wasm               = { workspace = true }
mars-osmosis                   = { workspace = true }
mars-owner                     = { workspace = true }
mars-params                    = { workspace = true }
mars-red-bank                  = { workspace = true }
mars-rewards-collector-osmosis = { workspace = true }
mars-swapper-astroport         = { workspace = true }
mars-types                     = { workspace = true }
prost                          = { workspace = true }
pyth-sdk-cw                    = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-it         = { workspace = true, features = ["multi-test"] }
cw-multi-test = { workspace = true }
