[package]
name          = "mars-swapper-astroport"
version       = { workspace = true }
authors       = { workspace = true }
license       = { workspace = true }
edition       = { workspace = true }
repository    = { workspace = true }
homepage      = { workspace = true }
documentation = { workspace = true }
keywords      = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
library    = []

[dependencies]
cosmwasm-schema   = { workspace = true }
cosmwasm-std      = { workspace = true }
cw2               = { workspace = true }
mars-owner        = { workspace = true }
mars-swapper-base = { workspace = true }
mars-swapper      = { workspace = true }
mars-oracle       = { workspace = true }
mars-oracle-wasm  = { workspace = true }
mars-red-bank-types = { workspace = true }
astroport         = { workspace = true }

[dev-dependencies]
anyhow            = { workspace = true }
mars-testing      = { workspace = true, features = ["astroport"] }
cw-it             = { workspace = true , features = ["astroport", "astroport-multi-test", "osmosis-test-tube"] }
test-case         = "3.0.0"
