[package]
name          = "mars-swapper-osmosis"
version       = { workspace = true }
authors       = { workspace = true }
edition       = { workspace = true }
repository    = { workspace = true }
homepage      = { workspace = true }
documentation = { workspace = true }
keywords      = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
library    = []

[dependencies]
cosmwasm-schema           = { workspace = true }
cosmwasm-std              = { workspace = true }
cw2                       = { workspace = true }
cw-controllers-admin-fork = { workspace = true }
cw-storage-plus           = { workspace = true }
mars-osmosis              = { version = "1.0.0", path = "../../../packages/chains/osmosis" }
mars-swapper-base         = { workspace = true }
mars-rover                = { workspace = true }
osmosis-std               = { workspace = true }
schemars                  = { workspace = true }
thiserror                 = { workspace = true }

[dev-dependencies]
anyhow          = { workspace = true }
# FIXME: update with new version when osmosis-v13 branch merged to main branch
osmosis-testing = { rev = "fb79d48810cfa80f1f74dffc1e04f0775fe1e152", git = "https://github.com/osmosis-labs/osmosis-rust" }
