[package]
name = "mars-oracle-osmosis"
version = "0.1.0"
authors = [
  "Spike Spiegel <spikeonmars@protonmail.com>",
  "larry_0x <larry@delphidigital.io>",
  "Piotr Babel <piotr@delphilabs.io>",
  "Ahmad Kaouk <ahmad@delphilabs.io>",
  "Harry Scholes"
]
edition = "2018"

exclude = [
  # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
  "contract.wasm",
  "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
mars-outpost = { path = "../../../packages/outpost", version = "0.1.0" }
mars-oracle-base = { path = "../base", version = "0.1.0" }
cosmwasm-std = "1.0"
cw-storage-plus = "0.13"
schemars = "0.8.8"
serde = { version = "1.0.137", default-features = false, features = ["derive"] }
thiserror = "1.0.31"

# FIXME: update with new tag when available
osmo-bindings = { git = "https://github.com/osmosis-labs/bindings" }

[dev-dependencies]
mars-testing = { path = "../../../packages/testing", version = "0.1.0" }
