name: Coverage

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  # Directory with wasm files used by `tests`
  ARTIFACTS_DIR_PATH: 'target/wasm32-unknown-unknown/release'

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          profile: minimal
          override: true
          components: llvm-tools-preview

      - name: Install cargo make
        uses: davidB/rust-cargo-make@v1

      # Artifacts used by tests.
      # Change owner of the current directory (rust-optimizer set root for artifacts / target).
      - name: Compile workspace
        run: |
          cargo make rust-optimizer
          sudo chown -R $USER .

      - name: Run test coverage
        run: cargo make coverage-lcov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/coverage/lcov.info
