name: Coverage

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install cargo make
        uses: davidB/rust-cargo-make@v1

      - name: Install stable Rust
        run: cargo make install-stable

      # Artifacts used by tests
      - name: Compile workspace
        run: cargo make build

      - name: Run test coverage
        run: cargo make coverage-lcov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/coverage/lcov.info
