name: Main

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install cargo make
        uses: davidB/rust-cargo-make@v1

      - name: Install stable Rust
        run: cargo make install-stable

      - name: Install nightly Rust
        run: cargo make install-nightly

      # selecting a toolchain should happen before the plugin, as the cache uses the current rustc version as its cache key
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Format
        run: cargo make fmt

      - name: Clippy
        run: cargo make clippy

      - name: Audit dependencies
        run: |
          cargo install --locked cargo-audit
          cargo make audit
