name: Scripts

on:
  push:
    branches:
      - master
      - main
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  scripts:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Install cargo make
        uses: davidB/rust-cargo-make@v1
      
      - name: Install stable Rust
        run: cd ../ && cargo make install-stable && cd scripts

      # selecting a toolchain should happen before the plugin, as the cache uses the current rustc version as its cache key
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install

      # fails if schema changes not committed
      - name: Generate latest schemas
        run: |
          yarn generate-types
          git diff --exit-code

      - name: Compile latest health computer helpers
        run: yarn compile-health-all

      - name: Check build
        run: yarn build

      - name: Check react health example builds
        working-directory: ./scripts/health/example-react
        run: yarn install && yarn build
